// COLORS
$primary-color: #82A4E3;
$secondary-color: #52688F;

$white-color: #fff;

$dark-grey: #9CA6B8;
$light-grey: #214358;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
